<div id="supervisor">
    <section>
        <app-header-page [usuario]="user"></app-header-page>
    </section>
    <section class="cards">
        <div class="container">
            <div class="card" (click)="driverEntry()">
                <p-card header="Ingresos">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="../../assets/entry.jpg" />
                    </ng-template>
                    <p>
                        Valida el ingreso de un conductor al centro e entrega
                    </p>
                </p-card>
            </div>
            <div class="card">
                <p-card header="Carga" (click)="loadTrip()">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="../../assets/carga.jpg" />
                    </ng-template>
                    <p>
                        Asigna la carga a un vehiculo a traves de un viaje
                    </p>
                </p-card>
            </div>
        </div>        
    </section>
    <section>
        <app-summary-trip></app-summary-trip>
    </section>
</div>